# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Najak Boi.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Najak-Boi\Najak Boi\.idea\.idea.Najak Boi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
